<!--  Section Title -->
<div class="container section-title" data-aos="fade-up">
  <h2>Galeria de imágenes</h2>
  <p>
    Entra en un mundo de frescura y limpieza con nuestros productos
    especializados. Cada artículo ha sido cuidadosamente seleccionado para
    garantizar resultados óptimos y comodidad para nuestros clientes. Desde los
    productos más básicos hasta las innovaciones más recientes, tenemos todo lo
    que necesitas para mantener tu hogar o negocio impecable.
  </p>
</div>
<!-- End Section Title -->

<div class="container">
  <div
    class="isotope-layout"
    data-default-filter="*"
    data-layout="masonry"
    data-sort="original-order"
  >
    <ul
      class="portfolio-filters isotope-filters"
      data-aos="fade-up"
      data-aos-delay="100"
    >
      <li data-filter="*" class="filter-active">All</li>
      <li data-filter=".filter-app">App</li>
      <li data-filter=".filter-product">Card</li>
      <li data-filter=".filter-branding">Web</li>
    </ul>
    <!-- End Portfolio Filters -->

    <div
      class="row gy-4 isotope-container"
      data-aos="fade-up"
      data-aos-delay="200"
    >
      <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
        <img
          class="img-fluid rounded"
          src="static/img/art_limpieza/cui_ambientes.jpeg"
          alt=""
        />
        <div class="portfolio-info">
          <h4>Cuidado de Ambientes</h4>
          <p>Cuidado de ambientes de hogar y trabajo</p>
          <a
            href="static/img/art_limpieza/cui_ambientes.jpeg"
            title="App 1"
            data-gallery="portfolio-gallery-app"
            class="glightbox preview-link"
            ><i class="bi bi-zoom-in"></i
          ></a>
          <a href="#precios" title="More Details" class="details-link"
            ><i class="bi bi-link-45deg"></i
          ></a>
        </div>
      </div>
      <!-- End Portfolio Item -->

      <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
        <img
          class="img-fluid rounded"
          src="static/img/art_limpieza/cui_manos.jpeg"
          alt=""
        />
        <div class="portfolio-info">
          <h4>Cuidado de manos</h4>
          <p>Cuidando las manos siempre</p>
          <a
            href="static/img/art_limpieza/cui_manos.jpeg"
            title="Cuidado de manos"
            data-gallery="portfolio-gallery-product"
            class="glightbox preview-link"
            ><i class="bi bi-zoom-in"></i
          ></a>
          <a href="#precios" title="More Details" class="details-link"
            ><i class="bi bi-link-45deg"></i
          ></a>
        </div>
      </div>
      <!-- End Portfolio Item -->

      <div
        class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding"
      >
        <img
          class="img-fluid rounded"
          src="static/img/art_limpieza/cui_piso_locetas.jpg"
          alt=""
        />
        <div class="portfolio-info">
          <h4>Cuidado de Pisos y locetas</h4>
          <p>Cuidado de pisos y locetas</p>
          <a
            href="static/img/art_limpieza/cui_piso_locetas.jpg"
            title="Cuidado de Pisos"
            data-gallery="portfolio-gallery-branding"
            class="glightbox preview-link"
            ><i class="bi bi-zoom-in"></i
          ></a>
          <a href="#precios" title="More Details" class="details-link"
            ><i class="bi bi-link-45deg"></i
          ></a>
        </div>
      </div>
      <!-- End Portfolio Item -->

      <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
        <img
          class="img-fluid rounded"
          src="static/img/art_limpieza/cui_superficies.jpeg"
          alt=""
        />
        <div class="portfolio-info">
          <h4>Cuidado de superficies</h4>
          <p>Cuidando todo superficie donde transites</p>
          <a
            href="static/img/art_limpieza/cui_superficies.jpeg"
            title="Cuidado de superficies"
            data-gallery="portfolio-gallery-app"
            class="glightbox preview-link"
            ><i class="bi bi-zoom-in"></i
          ></a>
          <a href="#precios" title="More Details" class="details-link"
            ><i class="bi bi-link-45deg"></i
          ></a>
        </div>
      </div>
      <!-- End Portfolio Item -->

      <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
        <img
          class="img-fluid rounded"
          src="static/img/art_limpieza/cui_pisos_madera_color.webp"
          alt=""
        />
        <div class="portfolio-info">
          <h4>cuidado de pisos de madera y color</h4>
          <p>Cuidado de pisos de madera</p>
          <a
            href="static/img/art_limpieza/cui_pisos_madera_color.webp"
            title="cuidado de pisos de madera y color"
            data-gallery="portfolio-gallery-product"
            class="glightbox preview-link"
            ><i class="bi bi-zoom-in"></i
          ></a>
          <a href="#precios" title="More Details" class="details-link"
            ><i class="bi bi-link-45deg"></i
          ></a>
        </div>
      </div>
      <!-- End Portfolio Item -->

      <div
        class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding"
      >
        <img
          class="img-fluid rounded"
          src="static/img/art_limpieza/desinfectantes.jpeg"
          alt=""
        />
        <div class="portfolio-info">
          <h4>Desinfectantes</h4>
          <p>Desinfecta todo</p>
          <a
            href="static/img/art_limpieza/desinfectantes.jpeg"
            title="Desinfectantes"
            data-gallery="portfolio-gallery-branding"
            class="glightbox preview-link"
            ><i class="bi bi-zoom-in"></i
          ></a>
          <a href="#precios" title="More Details" class="details-link"
            ><i class="bi bi-link-45deg"></i
          ></a>
        </div>
      </div>
      <!-- End Portfolio Item -->

      <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
        <img
          class="img-fluid rounded"
          src="static/img/art_limpieza/extras_limpi_alcohol.webp"
          alt=""
        />
        <div class="portfolio-info">
          <h4>Limpia todo</h4>
          <p>Limpia todo</p>
          <a
            href="static/img/art_limpieza/extras_limpi_alcohol.webp"
            title="Limpia todo"
            data-gallery="portfolio-gallery-app"
            class="glightbox preview-link"
            ><i class="bi bi-zoom-in"></i
          ></a>
          <a href="#precios" title="More Details" class="details-link"
            ><i class="bi bi-link-45deg"></i
          ></a>
        </div>
      </div>
      <!-- End Portfolio Item -->

      <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
        <img
          class="img-fluid rounded"
          src="static/img/art_limpieza/limpieza_profunda.jpeg"
          alt=""
        />
        <div class="portfolio-info">
          <h4>Limpieza profunda</h4>
          <p>Limpieza profunda de tu hogar o trabajo</p>
          <a
            href="static/img/art_limpieza/limpieza_profunda.jpeg"
            title="Limpieza profunda"
            data-gallery="portfolio-gallery-product"
            class="glightbox preview-link"
            ><i class="bi bi-zoom-in"></i
          ></a>
          <a href="#precios" title="More Details" class="details-link"
            ><i class="bi bi-link-45deg"></i
          ></a>
        </div>
      </div>
      <!-- End Portfolio Item -->

      <div
        class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding"
      >
        <img
          class="img-fluid rounded"
          src="static/img/art_limpieza/cui_autos.jpeg"
          alt=""
        />
        <div class="portfolio-info">
          <h4>cuidado de autos</h4>
          <p>Cuida la apariencia de tu auto</p>
          <a
            href="static/img/art_limpieza/cui_autos.jpeg"
            title=" cuidado de autos "
            data-gallery="portfolio-gallery-branding"
            class="glightbox preview-link"
            ><i class="bi bi-zoom-in"></i
          ></a>
          <a href="#precios" title="More Details" class="details-link"
            ><i class="bi bi-link-45deg"></i
          ></a>
        </div>
      </div>
      <!-- End Portfolio Item -->

      <div
        class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding"
      >
        <img
          class="img-fluid rounded"
          src="static/img/art_limpieza/maseteros.jpg"
          alt=""
        />
        <div class="portfolio-info">
          <h4>Hogares con naturaleza</h4>
          <p>Hogar dulce hogar</p>
          <a
            href="static/img/art_limpieza/maseteros.jpg"
            title=" Hogares con naturaleza "
            data-gallery="portfolio-gallery-branding"
            class="glightbox preview-link"
            ><i class="bi bi-zoom-in"></i
          ></a>
          <a href="#precios" title="More Details" class="details-link"
            ><i class="bi bi-link-45deg"></i
          ></a>
        </div>
      </div>
      <!-- End Portfolio Item -->
    </div>
    <!-- End Portfolio Container -->
  </div>
</div>
